h1 Editing ai connection

== render "form", ai_connection: @ai_connection

br

div
  => link_to "Show this ai connection", @ai_connection
  '|
  =< link_to "Back to ai connections", ai_connections_path
