p style="color: green" = notice

== render @ai_connection

div
  => link_to "Edit this ai connection", edit_ai_connection_path(@ai_connection)
  '|
  =< link_to "Back to ai connections", ai_connections_path

  = button_to "Destroy this ai connection", @ai_connection, method: :delete
