div data-controller="editor"
  button#ask-ai.btn-ai.bg-purple-700.mt-1 data-action="click->editor#askAi"
    | Ask AI

  #editor data-editor-target="container" style="width:100%; height:500px; border:1px solid #ccc;"

  #ai-output.text-shadow-neon data-editor-target="output"
