#navbar.p-3.flex.items-center
  .me-2.text-heading
    = link_to 'AI IDE - HOME', home_index_path,
      class: "rounded-xl border border-zinc-700 hover:border-zinc-500 bg-zinc-900 px-4 py-1 text-sm font-medium text-gray-300 hover:text-white transition-all duration-200"

  .me-3
    = link_to 'Connections', ai_connections_path,
      class: "rounded-xl border border-zinc-700 hover:border-zinc-500 bg-zinc-900 px-4 py-1 text-sm font-medium text-gray-300 hover:text-white transition-all duration-200"

  - if current_connection
    .me-3
      = "Current connection: #{current_connection.name}/#{current_connection.model}"
  - else
    .me-3
      = "NO Current connection"

  .me-3
    = "LLMs list last update: #{AiModel.last.updated_at.in_time_zone.strftime("%H:%M")}"

  .ml-auto.text-gray-400.text-sm
    = "v. #{Rails.application.credentials.app_version}"
